body {
    margin: 0;
    padding: 0;
    background: #34495e; 
}

.card {
    width: 340px;
    background: #f1f1f1;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 20px #000000;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-section {
    position: relative;
}

.top-section img {
    width: 100%;
    height: 300px;
}

.menuicon {
    position: absolute;
    width: 22px;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.menuicon span {
    width: 100%;
    height: 3px;
    background: #000;
    position: relative;
    display: block;
    margin-bottom: 6px;
    opacity: .5;
    transition: .4s;
}

.menuicon .s1 {
    left: -5px;
}

.menuicon .s2 {
    left: 5px;
}

.menuicon:hover span {
    left: 0;
}

.name {
    position: absolute;
    top: 185px;
    left: 20px;
    font-size: 40px;
    font-weight: 500;
    opacity:.7;
}

.name span {
    text-transform: uppercase;
    font-weight: 600;
}

.info-section {
    padding: 40px;
    padding-top: 0;
    color: #333;
}

h2 {
    position: relative;
    font-size: 16px;
}

.border {
    width: 30px;
    height: 3px;
    background: #778beb;
    position: absolute;
    left: 0;
    bottom: -6px;
}

p {
    text-align: justify;
    font-size: 12px;
}

.s-m {
    text-align: center;
    margin-top: 20px;
}

.s-m a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 0 13px;
    transition: .4s;
}

.s-m a:hover {
    color: #778beb;
}

