body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    font-family: 'Josefin Sans', sans-serif;
}

.box {
    width:300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    box-shadow: 10px 10px 5px  #000;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 50px;
}

.box input[type = "text"], 
.box input[type = "password"],
.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box div img {
    width: 64px;
    height: 64px;
}

.box div p {
    color: white;
    margin: 0;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"] {
    width: 150px;
    border: 2px solid #2eec71;
    padding: 14px 40px;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2eec71;
}